# Dependencies
backend/node_modules/
frontend/node_modules/
backend/serviceAccountKey.json

# Environment variables
.env

# Logs
*.log

# Build output
.next/
build/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/